#post-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.blog-post {
    width: 500px;
    height: 300px;
    background-color: rgb(183, 212, 255);
    border-radius: 10px;
    display: block;
    padding: 20px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 10px 10px #888888;
    align-items: center
}

.content {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

hr {
    border: black solid 1px;
    width: 100%;
}


.blog-edit, .blog-del {
    background-color: white;
    border: none;
    border-radius: 10px;
    width: 75px;
    padding: 5px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-edit > img, .blog-del > img {
    margin: 5px;
}

.blog-edit:hover, .blog-del:hover {
    background-color: rgb(184, 184, 184);
}

.buttons {
    align-self: center;
    text-align: center;
    display: flex;
}

h1 {
    text-align:center;
}

#add-post {
    margin: 0 auto;
    display: block;
    width: 200px;
    background-color: white;
    border: black solid;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
}

#add-post:hover {
    background-color: rgb(184, 184, 184);
}

#blog-prompt, .edit-dialog {
    background-color: rgb(48, 110, 202);
    border-radius: 10px;
    border: none;
    box-shadow: 5px 10px #888888;
    color: white;
    font-weight: bold;
}

#blog-cancel, #blog-ok, .edit-cancel, .edit-ok {
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
}

.edit-buttons, .blog-buttons {
    display: flex;
    align-self: center;
    text-align: center;
    justify-content: center;
}

#blog-cancel:hover, #blog-ok:hover, .edit-cancel:hover, .edit-ok:hover {
    background-color: rgb(184, 184, 184);
}

input, textarea {
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

textarea {
    margin: 0;
    margin-top: 5px;
}

.scrollable-element {
    scrollbar-color: black white;
}

@font-face{
    font-family: Lato;
    src: url('./fonts/Lato-Regular.ttf')
}

* {
    font-family: 'Lato', 'sans-serif';
}

.confirm, #alert {
    background-color: rgb(48, 110, 202);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}

.confirm button, #alert button{
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
}

.confirm button:hover, #alert button:hover {
    background-color: rgb(184, 184, 184);
}

output {
    margin: 0 auto;
    display: block;
    width: 50%;
    text-align: center;
}